a .m-user {
	/* Font & Text */
	font-family: Maledpan, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	letter-spacing: normal;
	line-height: 17px;
	text-decoration: none solid rgb(74, 100, 105);
	text-align: left;
	text-indent: 0px;
	text-transform: none;
	vertical-align: middle;
	white-space: normal;
	word-spacing: 0px;

	/* Color & Background */
	background-attachment: scroll;
	background-color: rgb(255, 255, 255);
	background-image: none;
	background-position: 0% 0%;
	background-repeat: repeat;
	color: rgb(74, 100, 105);

	/* Box */
	height: 38px;
	width: 99.9375px;
	border: 0px none rgb(74, 100, 105);
	border-top: 0px none rgb(74, 100, 105);
	border-right: 0px none rgb(74, 100, 105);
	border-bottom: 0px none rgb(74, 100, 105);
	border-left: 0px none rgb(74, 100, 105);
	margin: -4px 0px 0px 15px;
	padding: 7px 20px 9px 8px;
	max-height: none;
	min-height: 0px;
	max-width: none;
	min-width: 0px;

	/* Positioning */
	position: static;
	top: auto;
	bottom: auto;
	right: auto;
	left: auto;
	float: none;
	display: inline-block;
	clear: none;
	z-index: auto;

	/* List */
	list-style-image: none;
	list-style-type: disc;
	list-style-position: outside;

	/* Table */
	border-collapse: separate;
	border-spacing: 0px 0px;
	caption-side: top;
	empty-cells: show;
	table-layout: auto;

	/* Miscellaneous */
	overflow: visible;
	cursor: pointer;
	visibility: visible;

	/* Effects */
	transform: none;
	transition: all 0.3s ease 0s;
	outline: rgb(74, 100, 105) none 0px;
	outline-offset: 0px;
	box-sizing: border-box;
	resize: none;
	text-shadow: none;
	text-overflow: clip;
	word-wrap: normal;
	box-shadow: none;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 40px;
	border-bottom-right-radius: 40px;
}